[submodule "asukiaaa-kicad-symbols"]
	path = asukiaaa-kicad-symbols
	url = git@github.com:asukiaaa/asukiaaa-kicad-symbols.git
[submodule "asukiaaa-kicad-footprints.pretty"]
	path = asukiaaa-kicad-footprints.pretty
	url = git@github.com:asukiaaa/asukiaaa-kicad-footprints.pretty.git
